<!-- <div>
  <div *ngFor="let product of products" class="container">
    <div class="flex-container">
      <img
        class="img-thumbnail .img-responsive .flex-items"
        src="{{product.image}}"
        style="height:80px;width:80px;"
      />
      <div class="flex-items">
        <p>Item Code: {{product.id}}</p>
        <p>Item Name:{{product.name}}</p>
        <p>Price: {{product.price}}</p>
        <p>Quanity: {{product.quanity}}</p>
      </div>
      <div class="flex-items .flex-container">
        <button class="btn btn-primary btn-sm" (click)="addToCart(product)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div> -->
